.formDiv {
	border-width: 2px;
	padding-top: 10px;
	opacity: 0.95;
}

#logoSpan {
	margin-left: 40px;
	margin-top: 5px;
	opacity: 1.0;
}

input {
	opacity: 1.0;
}

#submitButton {
	background: #fedc60;
	width: 150px;
	height: 25px;
	margin-bottom: 20px;
	opacity: 1.0;
}