.footerButton{
    border-radius: 25px; 
    transition: all .2s ease-in-out;


}

.footerButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.1); 
    

}

.footerHr{
    margin-left: 50px;
    margin-right:50px;
}

 .faPhone{
     margin-top: 10px;
     align-items: center;
     text-align: center;

 }

 .faEnvelope{
    margin-top: 10px;
    align-items: center;
    text-align: center;
 }

.allFooterButtons{
    align-items: center;
    text-align: center;
    margin-top:10px;
}

.socialMediaText{
    text-align: center;
}

.footerText{
    text-align: center;

 } 

 .yt{
     margin-right: 10px;
     margin-left: 10px;
 }

 .col-md-6,.col-xs-2,.col-md-8, .col-md-2, .col-xs-12{
    text-align: center

 }

 .col-md-6{
    text-align: center

 }
 .footerEmail{

     align-content: center;
 }

 .footerPhone{

    align-content: center;

 }