img {
    margin: 0px;
}

.navbar {
	position: absolute;
  /*top: 0px;*/
  width: 100%;
  height: 75px;
	margin-bottom: 0px;
	background-color: #fedc60;
	/*	z-index: 10;*/
	/*border-style: solid;
	border-color: #31ace0;
	border-width: 0px 0px 1px 0px;*/
}
